body {
  background-color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form {
  text-align: center;
  background-color: #f6f1f0;
  max-width: 300px;
  margin: auto;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.406);
  border-radius: 15px;
}

h1 {
  color: #2a3d45;
}
