body {
  background-color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

form {
  /* text-align: center; */
  background-color: rgb(255, 153, 153);
  max-width: 350px;
  margin: auto;
  padding: 25px;
}

h1 {
  color: hsla(198, 84%, 52%, 0.876);
}

#textbox {
  background-color: azure;
  text-align: center;
  font-size: 1.5em;
  color: hsla(240, 91%, 74%, 0.58);
  border: 2px solid rgb(158, 158, 139);
  margin-bottom: 20px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(198, 71%, 31%, 0.876);
}

button {

  marg
  text-align: center;
  margin-top: 10px;
  background-color: rgba(227, 51, 51, 0.974);
  padding: 10px 10px;
  width: 75px;
  border: none;
  color: azure;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: 900;
}
